*
    margin: 0
    padding: 0

html
    font-size: 16px

body
    background-color: #fff
    color: #555
    line-height: 1.5
    padding: 2rem 1.5rem

.sansita-font
    font-family: 'Sansita', sans-serif
    font-style: italic
    font-weight: 700

.source-serif-pro-font
    font-family: 'Source Serif Pro', serif
    font-weight: 400

.font-14
    font-size: 14px

.font-18
    font-size: 18px

.container
    margin: 0 auto
    max-width: 32rem

h1, h2, h3, h4, h5, h6
    color: #333
    font-weight: bold
    line-height: 1.1
    letter-spacing: -.025rem
    margin-top: 0
    margin-bottom: .5rem

header
    color: #777
    font-size: 1rem
    margin-bottom: 0

h3
    font-size: 1.2rem

.nav
    margin-bottom: 0
    list-style: none
    padding-left: 0

    li
        display: inline-block

        a
            text-decoration: none

.intro
    margin-top: 28.8px

.intro::after
    background-color: #eee
    content: ""
    display: block
    height: 1px
    margin: 3rem auto
    width: 100px

.content
    margin-bottom: 3rem

.content::after
    background-color: #eee
    content: ""
    display: block
    height: 1px
    margin: 3rem auto
    width: 100px

.post
    margin-bottom: 1rem
    overflow: auto

    &__date
        color: #ccc
        display: block
        margin: 0 0 0.3rem

    &__title
        color: #333
        text-decoration: none